/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    background-color: #5ec8cd;
}

/* MAIN */
main{
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

main .card-container{
    background-color: #fff;
    width: 20em;
    height: 34em;
    border-radius: 1em;
    box-shadow: 0px 0px 5px 6px #0000001a;
}

main .card-container .desconto{
    height: 2em;
    background-color: #ff613a;
    border-radius: 1em 1em 0 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

main .card-container .sub-titulo-tenis-container {
    height: 2em;
    text-align: center;
    padding-top: 0.5em;
}

main .card-container .sub-titulo-tenis-container .sub-titulo-tenis{
    font-family: 'Bebas Neue', sans-serif;
}

main .sub-titulo-tenis-container .preco{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

main .card-container .imagem-tenis-container{
    text-align: center;
}
main .card-container .imagem-tenis-container .imagem-tenis{
    width: 14em;
}

main .card-container .cor{
    display: flex;
    justify-content: center;
}

main .card-container .cor .selecao-cor{
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 0.5em;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .card-container .cor .selecao-cor:before{
    position: absolute;
    width: 2em;
    height: 2em;
    content: '';
    border-radius: 50%;
    border: 2px solid #000000;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

main .card-container .cor .selecao-cor:checked::before{
    opacity: 1;
}

main .card-container .cor #azul{
    background-color: #5ec8cd;
}

main .card-container .cor #roxo{
    background-color: #7a5ab9;
}

main .card-container .cor #vermelho{
    background-color: #db3842;
}

main .card-container .titulo-tenis{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 3rem;
}

main .card-container .descricao-tenis{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 0.8rem;
    margin: 0 1em 1em 1em;
}

main .card-container .bottom-card-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;font-family: 'Montserrat', sans-serif;
}

main .card-container .bottom-card-container .tamanho-container{
    margin-left: 6em;
}

main .card-container .bottom-card-container .tamanho-container #tamanho{
    height: 2em;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

main .card-container .bottom-card-container .btn-add{    
    border: none;
    background: none;   
    cursor: pointer;
    margin-right: 6em;    
}

main .card-container .bottom-card-container .btn-add .add-circle{
    color:#5ec8cd;
    font-size: 4rem;
}

main .card-container .bottom-card-container .btn-add .add-circle:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

main .card-container .bottom-card-container .btn-add .cancel{
    color:#ff5656;
}